@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    background-color: #1f2325;
    font-family: 'Roboto', sans-serif;
}

.mdl-textfield__label {
    color: white;
}

.mdl-textfield__input {
    color: white;
}

.hidden {
    opacity: 0;
}