.dropify-wrapper {
    background-color: #1f2325;
    border: none;
    border-radius: 25px;
    color: white;
    table-layout: fixed;
    top: 10px;
    width: 500px;
    height: 250px;
    padding: 20px;
}

.dropify-wrapper:hover {
    background-image: -webkit-linear-gradient(135deg, #1c2022 25%, transparent 25%, transparent 50%, #1c2022 50%, #1c2022 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #1c2022 25%, transparent 25%, transparent 50%, #1c2022 50%, #1c2022 75%, transparent 75%, transparent);
}

.dropify-wrapper .dropify-preview {
    background-color: #1f2325;
}

.dropify-wrapper .dropify-preview .dropify-infos {
    background-color: rgb(0, 0, 0, 0.4);
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner {
    transform: translate(-4%, -40%);
}

.footer {
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.5);
}

.mdl-data-table {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.mdl-data-table th {
    color: white;
}

.mdl-dialog {
    background-color: black;
    color: white;
    width: min-content;
}

.mdl-dialog .mdl-button {
    color: white;
}

.mdl-dialog__content {
    color: white;
}

.uploaded-overlay {
    background-color: rgb(0, 0, 0, 0.6);
    border: none;
    border-radius: 25px;
    color: white;
    table-layout: fixed;
    top: 10px;
    width: 500px;
    height: 250px;
    padding: 20px;
}